* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}
body {
  background: linear-gradient(145deg, #e66465, #9198e5);
  background-image: url(assets/80s-retro-sci-fi-background.jpg);
  background-size: cover;
}
#keychainsvg {
  max-height: 97vh;
}
#infolink {
  position: fixed;
  top: 12px;
  left: 12px;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 32px;
  width: 33px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #4a433a;
}
#infolink a {
  text-decoration: none;
  font-size: 24px;
  color: #4a433a;
}

.hidden {
  /* display: none !important; */
  transform: translateY(100%);
}
#installContainer {
  position: fixed;
  bottom: 0;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
  background: white;
  padding: 1em;
  transition: transform 0.5s; 
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
}
#installContainer img {
  max-height: 40px;
}
#installContainer button {
  border: 1px solid white;
  /* background-color: #555;
  color: white; */
  font-size: 1em;
  padding: 0.75em;
}